<div>
  <div class="w-full flex flex-col">
    <div>

      <h2>Nodejs Express Moongodb</h2>
      <p>Description Master Node by building a real-world RESTful API and web app (with authentication, Node.js
        security,
        payments & more)</p>
      <div class="flex space-x-5">
        <span>17605 xếp hạng</span>
        <span>390 người xem</span>
      </div>
      <p>Tác giả: jonas</p>
      <div class="flex items-center space-x-2">
        <mat-icon>language</mat-icon>
        <span>Tiếng việt</span>
      </div>
    </div>
    <div>
      <h3>Những gì bạn sẽ nhận được</h3>
      <div class="">
        <ul>
          <li>Master the entire modern back-end stack: Node, Express, MongoDB and Mongoose (MongoDB JS driver)</li>
          <li>Build a fast, scalable, feature-rich RESTful API (includes filters, sorts, pagination, and much more)</li>
          <li>CRUD operations with MongoDB and Mongoose</li>
          <li>How to work with data in NoSQL databases (including geospatial data)</li>
          <li>Security: encryption, sanitization, rate limiting, etc.</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>Nội dung khoá học
      </h3>
        <div>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  1. Bắt đầu
                </mat-panel-title>
<!--                <mat-panel-description>-->
<!--                  This is a summary of the content-->
<!--                </mat-panel-description>-->
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 2. Set up môi trường
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>
  </div>
</div>
