.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: transparent;
  --mdc-snackbar-container-color: transparent;
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-supporting-text-font: Roboto, sans-serif;
  --mdc-snackbar-supporting-text-line-height: 20px;
  --mdc-snackbar-supporting-text-size: 18px;
  --mdc-snackbar-supporting-text-weight: 400;
}
.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 !important;
}
