<div class="w-full">
    <!--warpper-->
    <div class="w-full flex  flex-col">
        <!--header-->
        <div class="relative flex items-center w-full h-16 border-b-2">
            <ng-container>
                <div class="flex items-center mx-2">
                    <img class="w-20" src="../../assets/image/logo/logo.png" alt="logo">
                </div>
            </ng-container>
            <div class=" flex items-center ml-auto space-x-4">
                <a routerLink="/" >{{"test.my-course" | transloco}}</a>
                <a routerLink="/">{{'test.upload' | transloco}}</a>
                <a routerLink="/detail-course">video</a>
            </div>
            <div class="flex items-center ml-auto px-3">
                <app-search></app-search>
                <app-languages></app-languages>
                <app-notifications></app-notifications>
                <app-user></app-user>
            </div>
        </div>
<!--      content-->
        <div class="w-full flex flex-col flex-auto px-6 py-6">

          <router-outlet></router-outlet>


        </div>
    </div>
</div>
