<div class="w-full">
    <!--warpper-->
    <div class="w-full flex  flex-col">
        <!--header-->
        <div class="relative flex items-center w-full h-16 border-b-2">
            <ng-container>
                <div class="flex items-center mx-2 cursor-pointer" (click)="redirectHome()">
                    <img class="w-[100px]" src="../../assets/image/logo/mylogo.jpg" alt="logo">
                </div>
            </ng-container>
            <div class=" flex items-center ml-auto space-x-4">
                <a routerLink="/" >{{"test.my-course" | transloco}}</a>
                <a routerLink="/">{{'test.upload' | transloco}}</a>
                <a routerLink="/detail-course">Video</a>
            </div>
            <div class="flex items-center ml-auto px-3">
                <app-search></app-search>
                <app-languages></app-languages>
                <app-notifications></app-notifications>
                <app-user></app-user>
            </div>
        </div>
<!--      content-->
        <div class="w-full flex flex-col flex-auto px-6 py-6">
          <router-outlet></router-outlet>
        </div>
      <footer class="flex flex-col w-full items-center justify-center mt-8 bg-black text-[#F9F9FA]">
        <div class="w-2/3 flex justify-center py-10 grid grid-cols-4">
          <div class="grid justify-center items-start " *ngFor = "let i of columnDetailPage">
            <div class="w-full text-xl">{{i.title}}</div>
            <div class="my-4">
              <div *ngIf = "i.title === 'LIÊN HỆ VỚI CHÚNG TÔI'" class="flex cursor-pointer">
                <div class="flex items-start">
                  <img class="w-8 h-8 mr-2 rounded" src="assets/image/logo/facebook-svgrepo-com.svg">
                  <img class="w-8 h-8 mr-2 rounded" src="assets/image/logo/skype-svgrepo-com.svg">
                  <img class="w-auto h-8 mr-2 rounded" src="assets/image/logo/twitter-svgrepo-com.svg">
                  <img class="w-auto h-8 mr-2 rounded" src="assets/image/logo/youtube-svgrepo-com.svg">
                  <img class="w-auto h-8 mr-2 rounded" src="assets/image/logo/linkedin-svgrepo-com.svg">
                </div>
              </div>
              <div *ngIf = "i.title !== 'LIÊN HỆ VỚI CHÚNG TÔI'">
                <div *ngFor = "let k of i.data" class="text-[#9EA7AF]">
                  <div class="cursor-pointer text-xs my-0.5">{{k}}</div>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
         </div>
        <div class="text-xs text-[#9EA7AF]">
          <p>© 2018 - 2023 FullCource. Nền tảng học lập trình hàng đầu Việt Nam</p>
        </div>
      </footer>
    </div>
</div>
