<button #btnNotification mat-icon-button (click)="openNotification()">
    <mat-icon>notifications</mat-icon>
    <ng-container>
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-6">
            <span class="flex items-center justify-center rounded-full w-4 h-4 bg-amber-400 ml-4 text-sm">3</span>
        </span>
    </ng-container>
</button>
<!--<mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item>Item 1</button>-->
<!--    <button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->

<ng-template #notificationBox>

    <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">


            <div class="flex w-full items-center justify-between p-6 bg-blue-600 text-white">
                <span class="font-medium text-xl">Message</span>
                <mat-icon>mail</mat-icon>
            </div>
            <!--                content-->
            <div class="max-h-96 w-full  overflow-y-auto bg-gray-50">
                <div class="w-full p-6 flex">
                    <div class=" w-[20%] mr-3 rounded-full overflow-hidden">
                        <img class="w-full"
                             src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                             alt="img">
                    </div>
                    <div>
                        <h4 class="font-medium">notifications</h4>
                        <p>Sau đó, bạn có thể sử dụng các component khác của Angular Material để thiết kế</p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="w-full p-6 flex">
                    <div class=" w-[20%] mr-3 rounded-full overflow-hidden">
                        <img class="w-full"
                             src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                             alt="img">
                    </div>
                    <div>
                        <h4 class="font-medium">notifications</h4>
                        <p>Sau đó, bạn có thể sử dụng các component khác của Angular Material để thiết kế</p>
                    </div>
                </div>
                <div class="w-full p-6 flex">
                    <div class=" w-[20%] mr-3 rounded-full overflow-hidden">
                        <img class="w-full"
                             src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                             alt="img">
                    </div>
                    <div>
                        <h4 class="font-medium">notifications</h4>
                        <p>Sau đó, bạn có thể sử dụng các component khác của Angular Material để thiết kế</p>
                    </div>
                </div>
                <div class="w-full p-6 flex">
                    <div class=" w-[20%] mr-3 rounded-full overflow-hidden">
                        <img class="w-full"
                             src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                             alt="img">
                    </div>
                    <div>
                        <h4 class="font-medium">notifications</h4>
                        <p>Sau đó, bạn có thể sử dụng các component khác của Angular Material để thiết kế</p>
                    </div>
                </div>
            </div>

        </div>


</ng-template>

